* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

#grid-container {

  background-image: linear-gradient(plum, palegoldenrod);


  /* background-image: -webkit-gradient(linear, left top, right top, from(#072142), color-stop(42%, #8c2b7a), to(#ff4d5a)); */

  height: 111vh;
  width: 100vw;
  display: grid;
  grid-gap: 0.25rem;
  grid-template-columns: 1fr;
  grid-template-rows: 60px auto 10%;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

.header {
  display: flex;
  align-items: center;
  padding: 0 30px;
  z-index: 1;
}

.header__text {
  padding: 0 20px;
}

.push {
  margin-left: auto;
}

#global-nav {
  display: none;
  position: fixed;
  background-color: red;
  z-index: 0;
  width: 100%;
  height: 100vh;
}

#global-nav a {
  display: block;
}


